In [1]:
size = {'s':1,
        'm':2,
        'l':3,
        'xl':4}

In [2]:
size

{'s': 1, 'm': 2, 'l': 3, 'xl': 4}

In [3]:
size['m']

2

In [5]:
result = {}
for k,v in size.items():
    result[v] = k
result

{1: 's', 2: 'm', 3: 'l', 4: 'xl'}

In [6]:
{v:k for k,v in size.items()}

{1: 's', 2: 'm', 3: 'l', 4: 'xl'}

In [8]:
a = [5,8,7,9]
b = [25,64,49,81]
list(zip(a,b))

[(5, 25), (8, 64), (7, 49), (9, 81)]

In [9]:
dict(zip(a,b))

{5: 25, 8: 64, 7: 49, 9: 81}

In [10]:
dict(zip(size.values(),size.keys()))

{1: 's', 2: 'm', 3: 'l', 4: 'xl'}

In [11]:
list(size.items())

[('s', 1), ('m', 2), ('l', 3), ('xl', 4)]

In [12]:
a = {5,4,6,9}

In [13]:
a

{4, 5, 6, 9}

In [14]:
type(a)

set

In [15]:
a = {5,4,6,9,9,9,5,4}
a

{4, 5, 6, 9}

In [16]:
len(a)

4

In [17]:
sum(a)

24

In [18]:
max(a)

9

In [19]:
min(a)

4

In [20]:
L1 = [5,6,8,9,4,5,6,7,5,6,7,4,5,6]
set(L1)

{4, 5, 6, 7, 8, 9}

In [21]:
L1

[5, 6, 8, 9, 4, 5, 6, 7, 5, 6, 7, 4, 5, 6]

In [22]:
L1 = [5,6,8,9,4,5,6,7,5,6,7,4,5,6]
L2 = [8,5,4,7,8,1,0,3,10]
set(L1).intersection(set(L2))

{4, 5, 7, 8}

In [23]:
set(L1).union(set(L2))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
set(L1) - set(L2)

{6, 9}

In [25]:
set(L1).difference(set(L2))

{6, 9}

In [26]:
t = (5,4,7,8,5,4)

In [27]:
type(t)

tuple

In [29]:
t[0:3]

(5, 4, 7)

In [30]:
t[::-1]

(4, 5, 8, 7, 4, 5)

In [31]:
t[0] = 500

TypeError: 'tuple' object does not support item assignment

In [32]:
tuple(L1)

(5, 6, 8, 9, 4, 5, 6, 7, 5, 6, 7, 4, 5, 6)

In [34]:
#1
L1 = [5,6,8,9,4,5,6,7,5,6,7,4,5,6]
L2 = [8,5,4,7,8,1,0,3,10]
result = []
for i in L1:
    if i not in L2:
        result.append(i)
for i in L2:
    if i not in L1:
        result.append(i)
list(set(result))

[0, 1, 3, 6, 9, 10]

In [36]:
set(L1)- set(L2)

{6, 9}

In [37]:
set(L2)-set(L1)

{0, 1, 3, 10}

In [38]:
list((set(L1)- set(L2)).union(set(L2)-set(L1)))

[0, 1, 3, 6, 9, 10]

In [39]:
L1

[5, 6, 8, 9, 4, 5, 6, 7, 5, 6, 7, 4, 5, 6]

In [41]:
sorted(L1) == L1

False

In [42]:
flag = True
pr = L1[0]
for i in L1[1:]:
    if i <= pr:
        flag = False
        break
    pr = i

flag

False

In [47]:
flag = True
L1 = sorted(L1)
print(L1)
pr = L1[0]

for i in L1[1:]:
    if i < pr:
        flag = False
        break
    pr = i

flag

[4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 8, 9]

True

In [67]:
import random
r = [random.choice(['hello','mello','yello','hallo']) for _ in range(100)]
result = []
for item in r:
    if item == 'hello':
        result.append(item)
result

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

In [68]:
list_1=['milk','suger','butter','yogurt','cheese']
list_2 = [4,5,10,1,3]
dict(zip(list_1,list_2))

{'milk': 4, 'suger': 5, 'butter': 10, 'yogurt': 1, 'cheese': 3}

In [69]:
d = {}
c = 0
for i in list_1:
    d[i] = list_2[c]
    c += 1
d

{'milk': 4, 'suger': 5, 'butter': 10, 'yogurt': 1, 'cheese': 3}

In [70]:
for i, item in enumerate(list_1):
    print(i, item)

0 milk
1 suger
2 butter
3 yogurt
4 cheese

In [71]:
d = {}
for i, item in enumerate(list_1):
    d[item] = list_2[i]
d

{'milk': 4, 'suger': 5, 'butter': 10, 'yogurt': 1, 'cheese': 3}

In [73]:
for i , item in enumerate(d):
    print(i, item)

0 milk
1 suger
2 butter
3 yogurt
4 cheese

In [74]:
min(d.values()), max(d.values())

(1, 10)

In [76]:
clip = '''Text Encoder: The text endoer is a transformer based on the famous Attention is All You Need paper. The team has used a 63M-parameter 12-layer 512-wide model with 8 attention heads.
Image Encoder: For the image encoder, the team considered two models - Resnet and ViT. The team experimented with different variations of these two models and ultimately found that ViT performed the best and used it as an image encoder
Dataset: Thea team constructed a new dataset of 400 million(image, text) pairs collected from a variety of publicly available sources on the Internet. The team focused on including all words that were present at least 100 times in the English version of Wikipedia which resulted in a set of 500000 words and ensured that each word was present at least in 20000 image text pairs. The dataset is referred to as WebImageText (WIT)'''
clip = clip.split()
result = {}
for item in clip:
    result[item] = clip.count(item)
result

{'Text': 1,
 'Encoder:': 2,
 'The': 5,
 'text': 2,
 'endoer': 1,
 'is': 3,
 'a': 5,
 'transformer': 1,
 'based': 1,
 'on': 3,
 'the': 6,
 'famous': 1,
 'Attention': 1,
 'All': 1,
 'You': 1,
 'Need': 1,
 'paper.': 1,
 'team': 5,
 'has': 1,
 'used': 2,
 '63M-parameter': 1,
 '12-layer': 1,
 '512-wide': 1,
 'model': 1,
 'with': 2,
 '8': 1,
 'attention': 1,
 'heads.': 1,
 'Image': 1,
 'For': 1,
 'image': 3,
 'encoder,': 1,
 'considered': 1,
 'two': 2,
 'models': 2,
 '-': 1,
 'Resnet': 1,
 'and': 4,
 'ViT.': 1,
 'experimented': 1,
 'different': 1,
 'variations': 1,
 'of': 5,
 'these': 1,
 'ultimately': 1,
 'found': 1,
 'that': 3,
 'ViT': 1,
 'performed': 1,
 'best': 1,
 'it': 1,
 'as': 2,
 'an': 1,
 'encoder': 1,
 'Dataset:': 1,
 'Thea': 1,
 'constructed': 1,
 'new': 1,
 'dataset': 2,
 '400': 1,
 'million(image,': 1,
 'text)': 1,
 'pairs': 1,
 'collected': 1,
 'from': 1,
 'variety': 1,
 'publicly': 1,
 'available': 1,
 'sources': 1,
 'Internet.': 1,
 'focused': 1,
 'including': 1,
 'all': 1,
 'words': 2,
 'were': 1,
 'present': 2,
 'at': 2,
 'least': 2,
 '100': 1,
 'times': 1,
 'in': 3,
 'English': 1,
 'version': 1,
 'Wikipedia': 1,
 'which': 1,
 'resulted': 1,
 'set': 1,
 '500000': 1,
 'ensured': 1,
 'each': 1,
 'word': 1,
 'was': 1,
 '20000': 1,
 'pairs.': 1,
 'referred': 1,
 'to': 1,
 'WebImageText': 1,
 '(WIT)': 1}